<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/tools/bootstrap/css/bootstrap.min.css">
</head>

<body>
    <header>
        <nav class="navbar navbar-dark bg-dark">
            <h1 class="text-white">My Template</h1>
        </nav>
    </header>
    <div class="jumbotron">
        <div class="container">
            <h1 class="text-info">Hello World!</h1>
            <p class="text-secondary">
                Put Your Content Here.
            </p>
            <hr class="my-4">

            <h1 class="text-info">Your System:</h1>
            <ul class="text-secondary">
                <li>
                    NodeJs :
                    <strong class="text-success"><%=version%></strong>
                </li>
                <li>
                    v8 :
                    <strong class="text-success"><%=v8%></strong>
                </li>
                <li>
                    OpenSSL :
                    <strong class="text-success"><%=openssl%></strong>
                </li>
                <li>
                    HTTP Parser :
                    <strong class="text-success"><%=http%></strong>
                </li>
                <li>
                    Port : <strong class="text-success">
                        <%=port%>
                    </strong>
                </li>
            </ul>
        </div>
    </div>

    <div class="container">
        <h2 class="text-primary">Welcome to my template Nodejs Project</h2>
        <p>
            Build faster and easier with my Nodejs Client/Server Project for simple
            and speed application using more features like Bootstrap,JQuery,and Fontawesome.
        </p>
    </div>

    <script src="/tools/jquery/jquery-3.4.1.min.js"></script>
    <script src="/tools/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>